<?xml version="1.0"?>
<config>
    <modules>
        <Chandan_Ajaxaddress>
            <version>1.0.0</version>
        </Chandan_Ajaxaddress>
    </modules>
    <global>
        <blocks>
            <checkout>
                <rewrite>
                    <onepage>Chandan_Ajaxaddress_Block_Ajaxaddress</onepage>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <chandan_ajaxaddress>
                <class>Chandan_Ajaxaddress_Helper</class>
            </chandan_ajaxaddress>
        </helpers>      
    </global>   
    <frontend>
        <routers>
            <ajaxaddress>
                <use>standard</use>
                <args>
                    <module>Chandan_Ajaxaddress</module>
                    <frontName>ajaxaddress</frontName>
                </args>
            </ajaxaddress>
        </routers>
		<layout>
            <updates>
                <ajaxaddress>
                    <file>ajaxaddress.xml</file>
                </ajaxaddress>
            </updates>
        </layout>		
    </frontend>
</config>